.movie-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 3rem;
  padding: 2rem;
  color: #fff;
}

.movie-card h1, .movie-card h2, .movie-card h3, .movie-card span, .movie-card p {
  color: #fff;
}

.movie-card img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.movie-card .info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 600px) {
  .movie-card {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 768px) {
  .movie-card {
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 1024px) {
  .movie-card {
    grid-template-columns: 1fr 4fr;
  }

  .movie-card .info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .movie-card {
    grid-template-areas:
      "poster title"
      "poster info";
  }

  .movie-card h2 {
    grid-area: title;
  }

  .movie-card img {
    grid-area: poster;
  }

  .movie-card .info {
    grid-area: info;
  }
}

@media (max-width: 599px) {
  .movie-card {
    grid-template-areas:
      "title"
      "poster"
      "info";
  }

  .movie-card h2 {
    grid-area: title;
  }

  .movie-card img {
    grid-area: poster;
  }

  .movie-card .info {
    grid-area: info;
  }
}

.toolbar {
  background-color: var(--light-dark-color);
}
