<div class="search-container">
  <div class="search-inner-container">
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Search for a movie</mat-label>
      <input type="text" matInput [formControl]="searchControl" placeholder="Search for a movie" (input)="onSearch($event)" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let movie of movies" [value]="movie.imdbID">
          <div class="movie-short">
            <img [src]="movie.Poster" alt="{{movie.Title}}" class="movie-short-poster">
            <div class="movie-short-info">
              <b>{{movie.Title}}</b> ({{movie.Year}}) - {{movie.Type}}
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
