/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
img{
  display: block;
}
.wrapper{
  min-height: 100vh;
  width: 100vw;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
}
